*.slo
*.lo
*.o
*.obj

*.so
*.dylib
*.dll

*.lai
*.la
*.a
*.lib

*.exe
*.out

build/
bin/

.vs/
.vscode/
*.suo
*.sdf
*.user
*.userosscache
*.sln.docstates
*.cproj.user
*.vcxproj.user

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CMakeSettings.json

.DS_Store

Thumbs.db